/* product.component.css */

.product-list {
    display: flex;
    flex-wrap: wrap;
    gap: 20px; /* Adjust the gap between product cards */
    justify-content: space-around; /* Adjust alignment of items */
  }
  .loading-container {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    background-color: rgba(255, 255, 255, 0.8); /* Adjust opacity and color as needed */
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Optional: Add a subtle shadow */
    z-index: 1000; /* Ensure it's above other content */
  }



  @media (max-width: 768px) {
    .product-list {
      justify-content: center; /* Center items on smaller screens */
    }
  }
